@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Pour occuper au moins 100% de la hauteur */
}

:root {
  --violet: #600bb5;
  --noir: #000000;
  --blanc: #ffffff;
  --gris: #d9d9d9;
  --border: 15px;
  --marck: "Marck Script", sans-serif;
  --irish: "Irish Grover", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--marck);
  font-size: 20px;
}

h1 {
  text-align: center;
  font-family: var(--irish);
  font-size: 60px;
  color: var(--violet);
  margin-top: 20px;
  margin-bottom: 10px;
}

h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: var(--irish);
  font-size: 40px;
  color: var(--violet);
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Styles globaux pour les boutons */
button {
  font-family: var(--marck);
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

/* Media queries pour tablette (768px et moins) */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 20px;
  }
}

/* Media queries pour téléphone (480px et moins) */
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 18px;
  }
}
