.connexion-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
  width: 100%;
}

.connexion-header {
  margin-bottom: 20px;
  text-align: center;
}

.connexion-header h1 {
  margin: 30px;
}

.connexion-header p {
  font-size: 1.2em;
  line-height: 1.5;
}

.input-container input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 15px;
  border: 2px solid var(--gris);
  background-color: rgba(96, 11, 181, 0.25);
}

input:focus {
  border-color: var(--violet);
  outline: none;
}

button.connexion-button {
  background-color: var(--violet);
  color: var(--blanc);
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.forgot-link {
  margin-bottom: 20px;
  color: var(--violet);
}

.register-section {
  margin-top: 20px;
}

.register-section p {
  font-size: 1em;
}

button.register-button {
  background-color: transparent;
  border: none;
  padding: 0;
  position: relative;
}

button.register-button img {
  width: 130px;
  height: auto;
  border: none;
  display: block;
  transition: transform 0.3s ease;
  margin-top: 30px;
}

button.register-button:hover img {
  transform: scale(1.2);
}
