.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--blanc);
  margin-bottom: 60px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 140px;
  transition: height 0.3s ease;
}

.etoile {
  height: 50px;
  transition: height 0.3s ease;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.login-icon {
  width: 40px;
  transition: width 0.3s ease;
}

@media only screen and (max-width: 1200px) {
  .navbar {
    padding: 10px 15px;
  }

  .logo {
    height: 120px;
  }

  .etoile {
    height: 45px;
  }

  .nav-link {
    font-size: 17px;
  }

  .login-icon {
    width: 35px;
  }
}

@media only screen and (max-width: 992px) {
  .navbar {
    padding: 10px;
  }

  .logo {
    height: 100px;
  }

  .etoile {
    height: 40px;
  }

  .nav-link {
    font-size: 16px;
  }

  .login-icon {
    width: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .logo {
    height: 80px;
  }

  .etoile {
    height: 35px;
  }

  .nav-links {
    display: none;
    / .login-icon {
      width: 25px;
    }
  }

  @media only screen and (max-width: 480px) {
    .logo {
      height: 60px;
    }

    .etoile {
      height: 25px;
    }

    .login-icon {
      width: 20px;
    }
  }
}
