.headerDescription {
  color: var(--blanc);
}

/* Styles pour la zone principale */
.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* styles pour .zoneOptions et ses enfants */
.zoneOptions {
  margin-bottom: 20px;
  background-color: var(--violet);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre les éléments horizontalement */
  justify-content: center; /* Centre les éléments verticalement */
  gap: 10px; /* Espacement entre les éléments enfants */
  text-align: center;
  border-radius: 30px; /* Espacement entre les éléments enfants */
  height: 450px;
  width: 500x;
}

.optionSource {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px; /* Espacement entre les boutons radio */
}

.label {
  color: var(--blanc);
  font-family: Arial, Helvetica, sans-serif;
}

.optionSource input {
  margin-right: 5px;
  margin-left: 50px;

  /* Espacement entre les boutons radio et leurs labels */
}

.zoneProposition {
  font-size: 1.2em; /* Augmente la taille du texte si nécessaire */
  margin-bottom: 10px;
  background-color: var(--blanc);
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: center; /* Espacement en bas de la proposition */
}

.zoneSaisie {
  display: flex;
  align-items: center;
  gap: 10px;
}

.zoneSaisie input {
  flex: 1; /* Permet à l'input de prendre tout l'espace disponible */
}

.zoneScore {
  font-size: 1.2em; /* Augmente la taille du texte si nécessaire */
}
